<div class="auth">
  <div class="auth-form">
    <h3>Forget Password</h3>
    <form [formGroup]="forgetPasswordForm">
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email">
      </div>
      <div class="form-input">
        <button class="gs-btn" (click)="forgetPassword(forgetPasswordForm.value)">Submit</button>
      </div>
        <p>
          <a routerLink="../dashboard">Dashboard</a>
        </p>
    </form>
  </div>
</div>


<table border="1">
  <tr>
    <th>Sr. No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td (click)="deleteUser(user.id)">Delete </td>
  </tr>
</table>
